<footer class="footer">
    <ul class="footer__left">
        <li><a class="footer__left__item" href="https://github.com/michaeldutoit">GitHub - MichaelDuToit</a></li>
        <li><a class="footer__left__item" href="https://www.linkedin.com/in/michael-du-toit-216404107/">LinkedIn - Michael Du Toit</a></li>
        <li><a class="footer__left__item" href="https://codepen.io/Michaeldt/">CodePen - Michaeldt</a></li>
    </ul>
    <ul class="footer__right">
        <li class="footer__right__item">
            <a href="https://www.contentful.com" rel="nofollow">
                <img src="https://images.contentful.com/fo9twyrwpveg/44baP9Gtm8qE2Umm8CQwQk/c43325463d1cb5db2ef97fca0788ea55/PoweredByContentful_LightBackground.svg" width="auto" height="auto">
            </a>
        </li>
        <li class="footer__right__item">
            <a href="https://www.netlify.com" rel="nofollow">
                <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" width="auto" height="auto">
            </a>
        </li>
    </ul>
</footer>
<script src="/metalsmith_portfolio/build/script.js"></script>
</body>
</html>