<nav class="nav">
    <h1 class="nav__name"><a href="/metalsmith_portfolio/build/">Michael Du Toit</a></h1>
    <button class="nav__btn" id="nav__btn">
        <div class="nav__btn__text">Menu</div>
        <div class="nav__btn__lines">
            <span class="nav__btn__lines_1"></span>
            <span class="nav__btn__lines_2"></span>
            <span class="nav__btn__lines_3"></span>
        </div>
    </button>
    <ul class="nav__menu" id="nav__menu">
        <li class="nav__menu__item"><a href="/metalsmith_portfolio/build/">Home</a></li>
        <li class="nav__menu__item"><a href="/metalsmith_portfolio/build/projects">Projects</a></li>
        <li class="nav__menu__item"><a href="/metalsmith_portfolio/build/blog">Blog</a></li>
    </ul>
</nav>