<!doctype html>
<html lang="en">
<head>
  {{> head-link }}
</head>
<body>
    {{> navigation }}
    <main>
    <div>{{ data.fields.content }}</div>
    </main>
    {{> footer }}
</body>
</html>