{{> head }}
<main class="blog__article">
  <h2>{{data.fields.title}}</h2>
  <span class="blog__article__date">Published: {{#moment data.fields.datePublished}}{{/moment }}</span>
  <div class="blog__article__content">{{#marked data.fields.content }}{{/marked}}</div>
</main>
{{> footer }}