<!doctype html>
<html lang="en">
<head>
  {{> head-link }}
</head>
<body>
    {{> navigation }}
    <main>
    <div class="home">{{#marked data.fields.content }}{{/marked}}</div>
    </main>
    {{> footer }}
</body>
</html>